.navbar {
    /* border: 1px solid red; */
    height: 60px;
    display: flex;
    width: 100%;
    /* margin-left: 5%; */
    background-color: #b3dbf9;
    color: #0a4270	;
}
.logo{
    margin-left: 5%;
}

.tutorial {
    margin-left: 95px;
    font-weight: normal;
}

.video {
    margin-left: 30px;
    font-weight: normal;
}

.quiz {
    margin-left: 30px;
    font-weight: normal;
}

.test {
    margin-left: 30px;
    font-weight: normal;
}

.signup {
    margin-left: 30px;
    font-weight: normal;
}

.educationImage {
    width: 90%;
    margin-left: 5%;
}
.sliderpic{
    height: 100vh;
    width: 100%;
    opacity: 0.7;
}
.box{
    border:1px solid black;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    margin-left: 450px;
}
.left{
    margin-top: -0px;
}
.search-box{
    border:1px solid blue;
    height: 38px;
    width: 50px;
    /* padding: 5px 5px; */
    margin-left: 250px;
}