.navbar {
    /* border: 1px solid red; */
    height: 60px;
    width: 100%;
    display: flex;
    /* position: fixed; */
    /* margin-left: 5%; */
    background-color: #b3dbf9;
    color: #0a4270	;
}
.logo{
    margin-left: 5%;
    margin-top: 10px;
}

.tutorial {
    margin-left: 25px;
    font-weight: normal;
}

.video {
    margin-left: 30px;
    font-weight: normal;
}

.quiz {
    margin-left: 30px;
    font-weight: normal;
}

.test {
    margin-left: 30px;
    font-weight: normal;
}

.signup {
    margin-left: 30px;
    font-weight: normal;
}
.quote{
    color:white;
}

.educationImage {
    width: 90%;
    height: 700px;
    margin-left: 5%; 
    background-image: url("../../public/resources/background.jpg");
    background-size: 1355px 700px;
    background-repeat: no-repeat;
    opacity: 0.7;
    padding-top: 40px;
    
}
.sliderpic{
    height: 100vh;
    width: 100%;
    opacity: 0.7;
}
.box{
    border:1px solid #0a4270;
    margin-top: 10px;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    margin-left: 450px;
    border-radius: 7px;
    margin-top: 10px;
}
/* .left{
    margin-top: -0px;
} */
/* .search-box{
    border:1px solid blue;
    height: 40px;
    width: 50px;
    padding: 5px 5px;
    margin-left: 250px;
} */
.concepts{
    margin-top: 10px;
    color: #0a4270	;
    width: 90%;
    margin-left: 5%;
}
.concept{
    display: flex;
    margin-top: 33px;
    font-size: 20px;
}
.concept div{
    height: 200px;
    width: 300px;
    border: 1px solid #0a4270;
}
.box1{
    margin-left: 33px;
}
.footer{
    height:250px;
    margin-top: 40px;
    background-color: #b3dbf9;
}
.facebookimage{
    height: 30px;
    width: 30px;
    border-radius: 10px;
}
.googleimage{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 10px;
}
.instaimage{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 10px;
}
h2{
    color: #0a4270	; 
}
/* h4{
    margin-top: -0px;
} */
/* .searchbox{
    height:40px;
    width: 60px;
    margin-top: 10px;
    border:1px solid red;
} */
.icon{
   margin-left: 5px;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 7px;
    border:1px solid #0a4270;
}
.display{
    display: flex;
    width: 90%;
    margin-left: 5%;
    font-size: 10px;
    font-weight: normal;
}
.Quiz{
    margin-right: 30px;
}
.firstpart{
    display: flex;
}
.secondpart{
    margin-left: 460px;
}
.thirdpart{
    margin-left: 490px;
}
.text{
    font-size: 12px;
}
.introimage{
    height: 200px;
    width: 243px;
}
.container{
    display: flex;
    height: 300px;
    width: 90%;
    margin-left: 5%;
}
.container div{
    border:1px solid black;
    height: 300px;
    width: 300px;
}
.Layout2{
    margin-left: 50px;
}
.Layout3{
    margin-left: 50px;
}
.Layout4{
    margin-left: 50px;
}