.topic{
    text-align: left;
    margin-left: 20px;
}
.content{
    font-size: 20px;
    margin-left: 40px;
}
.sideNavbar{
    width: 5%;
    border: 2px solid black;
    background-color: #D3D3D3	;
    border-top: none;
    border-left: none;
    border-bottom: none;
    position: fixed;
    height: 800px;
}
.layout{
    width: 95%;
}
.MainLayout{
    display: flex;
}
.image4{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
.image2{
    height: 70px;
    width: 70px;
}
.tools{
    margin-top: 450px;
}
.NAVBAR{
    background-color: #614f7a	;
    display: flex;
    border:3px solid black;
    width: 100%;
    margin-left: 5%;
    border-top: none;
    border-right: none;
    height: 200px;
}
h2{
    margin-top: 50px;
    font-weight: bolder;
    font-size: 35px;
}
.align-left{
    text-align: left;
    margin-left: 40px;
    color:white;
}
.navimage{
    margin-left: 350px;
    /* height: 200px;
    width: 200px; */
    /* width: 20%;
    height: 200px; */
}
.displaycourse{
    display: flex;
    margin-left: 5%;
}
.pic2{
    height: 62px;
    width: 50p;
}
.courseimage{
    margin-top: 200px;
    margin-left: 480px;
    cursor: pointer;
}
.imgtext{
    margin-left: 500px;
}
h4{
    cursor: pointer;
}
.navimage{
    cursor: pointer;
    margin-left: 500px;
}
/* .coursediv{
    border: 1px solid blue;
    margin-left: 15%;
    font-size: 20px;
    height: 620px; 
    width: 15%;
    border-top: none;
} */
.coursedata{
    border:2px solid black;
    border-left: none;
    border-top: none;
    margin-left: 5%;
    text-align: center;
}
#course{
    /* margin-top: 20px; */
    font-size: 20px;
    padding:15px 80px;
    /* margin: 30px; */
    text-align: center;
    /* border: 1px solid red; */
}
#course:hover{
    border: 3px solid black;
    border-right: none;
    cursor: pointer;
    background-color: red	;
}
.display{
    display: flex;
}
.margin{
    margin-left: 50px;
}
.alltopics{
    margin-left: 29px;
    width: 74%;
}
.onetopic{
    display: flex;
    border: 2px solid black;
    background-color: #D3D3D3	;
    /* opacity: 0.7; */
}
.topic{
    /* text-align: center; */
    margin-left: 70px;
    font-size: 20px;
    font-weight: bold;
} 
.topic:hover{
    color: red;
    cursor: pointer;
}
.rhombus{
    height: 23px;
    width: 20px;
   margin-left: 80px;
   margin-top: 20px;
}
.downimage{
    height: 15px;
    width: 15px;
}

#drop{
    border:3px solid black;
    width: 50px;
    height: 20px;
    width: 20px;
    margin-top: 20px;
    position: absolute;
    right: 100px;
    /* float: right; */
    /* margin-left: 100px; */
}
.subtopic{
    display: flex;
}
.empty{
    height: 20px;
    width: 20px;
}
.sub{
    /* border:2px solid black; */
    width: 74%;
    margin-left: 23%;
}
.topics{
    border:2px solid black;
    display: flex;
    width: 1100px;
    margin-left: 40px;
    cursor: pointer;
}
.selection{
    width: 1100px;
    margin-left: 20px;
    font-size: 20px;
}

